<footer>
    <div class="left">
        <div class="info">
            <a href="tel:+2348033731242">Phone: 08033731242</a>
            <a href="mailto:goldencastleeventsplus@gmail.com">email: goldencastleeventsplus@gmail.com</a>
            <p>address: 16 Adebare St, Ogudu 100242, Lagos,Nigeria</p>
        </div>
    </div>
    <div class="right">
        <div class="title">Follow us on instagram</div>
        <div class="info">
            <a href="https://www.instagram.com/golden_castle_event_plus/"><i class="fa-brands fa-instagram fa-xl"></i></a>
            
        </div>
    </div>
    <div class="center">
        <img src="/img/GCElogo.png" alt="golden castle logo">
        <div class="title">
            <h3>golden castle</h3>
            <h4>weddings, events & tv</h4>
        </div>
    </div>
</footer>