<div class="nav">
    <a href="/">
        <div class="left">
            <img src="/img/GCElogo.png" alt="golden castle logo">
            <div class="title">
                <div class="name">golden castle</div>
                <div class="info">weddings, events & tv</div>
            </div>
        </div>
    </a>
   
    <div class="right">
        <a href="https://www.instagram.com/golden_castle_event_plus/"><img src="/img/insta.png" alt="nigeria flag"></a>
        <img src="/img/ng.png" alt="nigeria flag">
    </div>
    
</div>