<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <div class="about-page">
        <%- include('./partials/nav.ejs') %>
        <!-- <div class="contact-head">
            <p>About</p>
            <h3>Let us take you through our journey.</h3>
        </div>
        <div class="contact-intro">
            <h3>let's chat</h3>
            <p>Thank you for your interest in Golden Castle Events! We are excited to learn more about your event, production, catering needs or any enquiry you might have. Please complete the contact form below and we'll be in touch.</p>
        </div>
      -->
      <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>