<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <div class="contact">
        <%- include('./partials/nav.ejs') %>
        <div class="contact-head">
            <p>contact</p>
            <h3>Creating a memorable event begins here.</h3>
        </div>
        <div class="contact-intro">
            <h3>let's chat</h3>
            <p>Thank you for your interest in Golden Castle Events! We are excited to learn more about your event, production, catering needs or any enquiry you might have. Please complete the contact form below and we'll be in touch.</p>
        </div>
        <form action="/users" method="POST">
            <% if (errors.length > 0){ %>
                <% errors.forEach(error => { %>
                    <div class="error-msg">
                        *<%= error.message%>
                    </div>
                <% }) %>
            <% } %>
            <div>
                <label for="first_name">First Name*</label>
                <input type="text" name="first_name" id="first_name" >
            </div>
            <div>
                <label for="last_name">Last Name*</label>
                <input type="text" name="last_name" id="last_name" >
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="phone">Phone*</label>
                <input type="tel" name="phone" id="phone" >
            </div>
            <div class="type">
                <label for="type">What do you want to do?*</label>
                <select name="type" id="type" required>
                    <option value="event">Event</option>
                    <option value="wedding">Wedding</option>
                    <option value="video">Video Production</option>
                    <option value="cater">Catering</option>
                    <option value="enquiry">Enquiry</option>
                </select>
            </div>
            <div class="event">
                <div>
                    <label for="about_event">Tell us about your event</label>
                    <textarea name="about_event" id="about_event" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="head_count">Number of Expected guests</label>
                    <input type="text" name="head_count" id="head_count">
                </div>
                <div>
                    <label for="budget">Event Budget</label>
                    <input type="text" name="budget" id="budget">
                </div>
            </div>
            <div class="cater">
                <div>
                    <label for="about_cater">Tell us about the catering service you need</label>
                    <textarea name="about_cater" id="about_cater" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="budget">Catering Budget</label>
                    <input type="text" name="budget" id="budget">
                </div>
            </div>
            <div class="video">
                <div>
                    <label for="about_video">Tell us about your video production</label>
                    <textarea name="about_video" id="about_video" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="budget">Tell us about your event</label>
                    <input type="text" name="budget" id="budget">
                </div>
            </div>
            <div class="enquiry">
                <div>
                    <label for="enqiry">Tell us about your event</label>
                    <textarea name="enquiry" id="enquiry" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div>
                <button type="submit">SEND</button>
            </div>
        </form>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>