<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Golden Castle Events is an event planning company that specializes in weddings, events, and TV production, we are passionate about bringing your vision to life. When it comes to creating a truly remarkable event,  you deserve the expertise and dedication of Golden Castle Events">
    <title>Golden Castle</title>
    <link rel="icon" href="/img/GCElogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/gueststyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="wrapper">
        <div id="preloader">
            <div class="pregif">
            </div>
        </div>
        <div class="nav">
            <a href="/">
                <div class="left">
                    <img src="/img/GCElogo.png" alt="golden castle logo">
                    <div class="title">
                        <div class="name">golden castle</div>
                        <div class="info">weddings, events & tv</div>
                    </div>
                </div>
            </a>
           
            <div class="right">
                <a href="https://www.instagram.com/golden_castle_event_plus/"><img src="/img/insta.png" alt="nigeria flag"></a>
                <img src="/img/ng.png" alt="nigeria flag">
            </div>
            
        </div>
        <div class="hero">
            <img src="/img/hero5-2.png" alt="background image" class="back">
            <img src="/img/hero5-1.png" alt="background image" class="front">
            <div class="herotitle">
                <!-- <h1>golden castle</h1> -->
                <h2>A <br> memorable event <br><a a href="tel:+23480731242" style="text-decoration: underline #ffd100; text-underline-offset: 15px; color: #ffe986;">begins here</a></h2>
                <h3>weddings, events, tv & rentals</h3>
            </div> 
        </div>
        <section>
                
            <div class="brief">
                <div class="content">
                    <h1>Golden castle</h1>
                    <h4>events and tv production</h4>
                    <p> As an event planning company specializing in 
                        weddings, events, and TV production, we are passionate 
                        about bringing your vision to life.
                        When it comes to creating a truly remarkable event,  you 
                        deserve the expertise and dedication of Golden Castle 
                        Events. 
                    </p>
                </div>
            </div>
            <div class="services">
                <div class="info">
                    <h3>services</h3>
                    <div class="event card">
                        <div class="desc">
                            <h4>events</h4>
                            <p><span class="ft-gold">Golden Castle</span> stands out as the premier event planning company, <span class="ft-gold">offering unmatched excellence</span>  and attention to detail. Our dedication to creating <span class="ft-gold">unforgettable experiences</span> ensures that every client's vision is brought to life with <span class="ft-gold">exceptional results</span>.</p>
                            <!-- <a href="tel:+2348033731242">talk to us</a> -->
                        </div>
                    </div>
                    <div class="wed card">
                        <div class="desc">
                            <h4>weddings</h4>
                            <p>At <span class="ft-gold">Golden Castle</span>, we are the epitome of <span class="ft-gold">wedding perfection</span>. Our unrivaled expertise, attention to detail, and commitment to<span class="ft-gold">creating magical moments</span>  make us the best choice for your <span class="ft-gold">special day</span>.</p>
                            <!-- <a href="tel:+2348033731242">talk to us</a> -->
                        </div>
                    </div>
                    <div class="tv card">
                        <div class="desc">
                            <h4>media production</h4>
                            <p>Choose <span class="ft-gold">Golden Castle</span> for your media production needs and <span class="ft-gold">experience excellence in every frame</span>. With our expertise, creativity, and technical know-how, we deliver <span class="ft-gold">exceptional results</span> that captivate audiences and <span class="ft-gold">surpass expectations</span>.</p>
                            <!-- <a href="tel:+2348033731242">talk to us</a> -->
                        </div>
                    </div>
                </div>
                <div class="img">
                    
                </div>
            </div>
            <div class="plus">
                <div class="text"><h3>plus</h3></div>
                <div class="info">
                    <div class="rent card">
                        <img src="/icons/rent.png" alt="rentals icon">
                        <p>rentals</p>
                    </div>
                    <div class="food card">
                       <img src="/icons/dinner.png" alt="food icon">
                       <p>catering</p>
                    </div>
                    <div class="usher card">
                        <img src="/icons/usher.png" alt="ushers png">
                        <p>ushering</p>
                    </div>
                    <div class="plusi card">
                        <img src="/icons/plus.png" alt="plus icon">
                        <p>more</p>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="left">
                    <div class="img">
                        <img src="/img/wed7.jpg" alt="image of wedding">
                    </div>
                    <div class="text">
                        <h2>Imagine a wedding</h2>
                        <p> That feels like a 
                                fairytale, an event that leaves a lasting 
                                impression, or a TV production that 
                                captivates audiences. <br> <br> With our team 
                                of experienced professionals, we take 
                                care of every detail, from venue selection 
                                to decor, catering, and entertainment, 
                                ensuring that your event surpasses all 
                                expectations.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="text">
                        <h2>Our commitment <br> to excellence,</h2>
                        <p> attention 
                            to detail, and personalized service sets 
                            us apart. <br> <br> Trust Golden Castle Events to 
                            make your dreams a reality and create an 
                            unforgettable experience that will be 
                            cherished for a lifetime.</p>
                    </div>
                    <div class="img">
                        <img src="/img/hero1.jpg" alt="venue image">
                    </div>
                </div>
            </div>
            <div class="cta">
                <p>Ready to transform your <em>EVENT</em> and <em>VIDEO PRODUCTION</em> into an <em>EXTRAORDINARY</em> experience?</p>
                <a href="tel:+2348033731242"><div class="btn">talk to us</div></a>
            </div>
        </section>
        <footer>
            <div class="left">
                <div class="info">
                    <a href="tel:+2348033731242">Phone: 08033731242</a>
                    <a href="mailto:goldencastleeeventsplus@gmail.com">email: goldencastleeeventsplus@gmail.com</a>
                    <p>address: 13 Adebare St, Ogudu 100242, Lagos,Nigeia</p>
                </div>
            </div>
            <div class="right">
                <div class="title">Follow us on instagram</div>
                <div class="info">
                    <a href="https://www.instagram.com/golden_castle_event_plus/"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    
                </div>
            </div>
            <div class="center">
                <img src="/img/GCElogo.png" alt="golden castle logo">
                <div class="title">
                    <h3>golden castle</h3>
                    <h4>weddings, events & tv</h4>
                </div>
            </div>
        </footer>
        <div class="king">
            <div>
                crafted by <a href="mailto:k=heyking.fr@gmail.com"><span>ROYALTY</span> </a> 
            </div>
        </div>
    </div>
    <script>
        const loader = document.querySelector('#preloader')
        window.addEventListener("load", ()=>{
            loader.style.display="none"
        })
    </script>
</body>
</html>