<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Castle | Coming Soon</title>
    <link rel="icon" href="/img/GCElogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/gueststyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="top">
        <div class="left">
            <img src="/img/GCElogo.png" alt="golden castle logo">
            <div class="title">
                <div class="name">golden castle</div>
                <div class="info">weddings, events & tv</div>
            </div>
        </div>
        <div class="right">
            <a href="https://www.instagram.com/golden_castle_event_plus/"><img src="/img/insta.png" alt="nigeria flag"></a>
            <img src="/img/ng.png" alt="nigeria flag">
        </div>
        
    </div>
    <section>
        <div class="gif">
            <img src="/img/construct.gif" alt="building">
        </div>
        <h2>under construction</h2>
        <p>For your event and TV production needs </p> 
        <p> Contact us Here: <a href="mailto:goldencastleeventsplus@gmail.com"> Golden Castle email</a> </p>
    </section>
    <div class="king">
        <div>
            crafted by <span>ROYALTY</span>  
        </div>
    </div>
</body>
</html>