<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Castle | Coming Soon</title>
    <link rel="icon" href="/img/GCElogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/gueststyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="nav">
        <a href="/">
            <div class="left">
                <img src="/img/GCElogo.png" alt="golden castle logo">
                <div class="title">
                    <div class="name">golden castle</div>
                    <div class="info">weddings, events & tv</div>
                </div>
            </div>
        </a>
       
        <div class="right">
            <a href="https://www.instagram.com/golden_castle_event_plus/"><img src="/img/insta.png" alt="nigeria flag"></a>
            <img src="/img/ng.png" alt="nigeria flag">
        </div>
        
    </div>
    <section>
        <video autoplay muted loop poster="/img/hero3.png" id="bgvid">
            <source src="/vid/hero1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero">
    
                <div class="herotitle">
                    <h1>golden castle</h1>
                    <h3>weddings, event planning, tv & plus</h3>
                </div> 
                <div class="brief">
                    <p>When it comes to creating a truly remarkable event,  you 
                        deserve the expertise and dedication of Golden Castle 
                        Events. As an event planning company specializing in 
                        weddings, events, and TV production, we are passionate 
                        about bringing your vision to life.</p>
                </div>
        
        </div>
        <div class="services">
            <h3>services</h3>
            <div class="info">
                <div class="event card"></div>
                <div class="wed card"></div>
                <div class="tv card"></div>
            </div>
        </div>
        <div class="plus">
            <h3>plus</h3>
            <div class="info">
                <div class="rent card">
                    <img src="/icons/rent.png" alt="rentals icon">
                    <p>rentals</p>
                </div>
                <div class="food card">
                   <img src="/icons/dinner.png" alt="food icon">
                   <p>catering</p>
                </div>
                <div class="usher card">
                    <img src="/icons/usher.png" alt="ushers png">
                    <p>ushering</p>
                </div>
                <div class="plus card">
                    <img src="/icons/plus.png" alt="plus icon">
                    <p>plus more</p>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="left">
                <div class="img"></div>
                <h2>Our commitment to excellence,</h2>
                <p> attention 
                    to detail, and personalized service sets 
                    us apart. Trust Golden Castle Events to 
                    make your dreams a reality and create an 
                    unforgettable experience that will be 
                    cherished for a lifetime.</p>
            </div>
            <div class="right">
                <h2>Imagine a wedding</h2>
                <p> that feels like a 
                    fairytale, an event that leaves a lasting 
                    impression, or a TV production that 
                    captivates audiences. With our team 
                    of experienced professionals, we take 
                    care of every detail, from venue selection 
                    to decor, catering, and entertainment, 
                    ensuring that your event surpasses all 
                    expectations.</p>
                <div class="img"></div>
            </div>
        </div>
        <div class="cta">
            <p>Ready to transform your <em>EVENT</em> and <em>VIDEO PRODUCTION</em> into an <em>EXTRAORDINARY</em> experience?</p>
            <a href="tel:+2348033731242"><div class="btn">talk to us</div></a>
        </div>
    </section>
    <footer>
        <div class="left">
            <div class="title">contact us</div>
            <div class="info">
                <p>13 Adebare St, Ogudu 100242, Lagos,Nigeia</p>
                <a href="tel:+2348033731242">08033731242</a>
                <a href="mailto:goldencastleeeventsplus@gmail.com">goldencastleeeventsplus@gmail.com</a>
            </div>
        </div>
        <div class="center">
            <img src="/img/GCElogo.png" alt="golden castle logo">
            <div class="title">
                <h3>golden castle</h3>
                <h4>weddings, events & tv</h4>
            </div>
        </div>
        <div class="right">
            <div class="title">Follow</div>
            <div class="info">
                <a href="https://www.instagram.com/golden_castle_event_plus/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a href="mailto:goldencastleeventsplus@gmail.com"><i class="fa-regular fa-envelope fa-2xl"></i></a>
            </div>
        </div>
    </footer>
    <div class="king">
        <div>
            crafted by <span>ROYALTY</span>  
        </div>
    </div>
</body>
</html>