<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="rent-container">
        <h1>RENT</h1>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>