<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="services-page">
        <a href="/services/events" class="card event">
            <h2>Events</h2>
        </a>
        <a href="/services/wedding" class="card wed">
            <h2>Wedding</h2>
        </a>
        <a href="/services/media" class="card media">
            <h2>Media Production</h2>
        </a>
        <a href="/services/cater" class="card cat">
            <h2>Catering</h2>
        </a>
        <a href="/contact" class="card">
            <h2>Rentals</h2>
        </a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>