<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <div class="services-pages">
        <%- include('./partials/nav.ejs') %>
        <div class="services-pages-head services-pages-event-head">
            <p>contact</p>
            <h3>Creating a memorable event begins here.</h3>
        </div>
        <div class="services-pages-intro">
            <h3>let's chat</h3>
            <p>Thank you for your interest in Golden Castle Events! We are excited to learn more about your event, production, catering needs or any enquiry you might have. Please complete the contact form below and we'll be in touch.</p>
        </div>
       <div class="events-body">
        
       </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>