<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/otherhead.ejs') %>
</head>
<body>
    <div class="contact">
        <%- include('./partials/nav.ejs') %>
        <div class="contact-head">
            <p>contact</p>
            <h3>Creating a memorable event begins here.</h3>
        </div>
        <div class="contact-success">
            <img src="/img/sent2.gif" alt="enquiry delivered">
            <h2>
                Enquiry Successfully <br> Delivered
            </h2>
            <p>We'll be in touch.</p>
            <div class="mini-nav">
                <p><a href="/">Home</a> • <a href="/contact">Back</a></p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>