*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .title{
    margin-left: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    align-items: center;
}

.nav .title .name{
    font-weight: 400;
    text-align: center;
}

.nav .title .info{
    font-weight: 400;
    font-size: 8px;
}

.nav .right img{
    width: 30px;
}

.nav img{
    width: 5rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

section h2{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    padding: 1rem;
}

section p{
    font-family: 'poppins';
}

section a{
    color: brown;
    text-decoration: none;
}

section .hero{
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .hero .herotitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .hero .herotitle h1{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
}

section .hero .herotitle h3{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
}

section .hero .brief{
    margin-top: 2rem;
    width: 40%;
    font-size: 0.9rem;
    text-align: center;
    line-height: 2;
}

.king{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'poppins';
}

.king span{
    font-family: 'Lora', serif;
}