:root {
    --gold: #E6A90B;
    --light-gold: #ffd700;
    --grey-black: linear-gradient(156deg, rgba(33,33,33,1) 0%, rgb(50, 50, 50) 90%, rgb(26, 26, 26) 100%);
    --black:  rgba(33, 33, 33, 0.741);
    --white: #ffffff;
    --glow-gold: linear-gradient(90deg, rgba(230,169,11,1) 0%, rgba(255,215,0,1) 51%, rgba(230,169,11,1) 100%);
}
  
.ft-gold{
    color: var(--light-gold);
}

#preloader{
    background: url('/img/topography.svg');
    background-color: #fff;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999998;
    background-size: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #003464;
    text-transform: uppercase;
    font-weight: 900;
}

.pregif{
    background: url('/img/infinity.gif') no-repeat center center;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999999999;
    background-size: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #003464;
    text-transform: uppercase;
    font-weight: 900;
}

#preloader span{
    padding: 0.2rem 1rem;
    background: var(--glow-gold);
    margin-bottom: 5rem;
    color: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 60;
    background-color: rgba(255, 255, 255, 0.946);
    backdrop-filter: blur(8px);
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav .left{
    display: flex;
    align-items: center;
    margin-block: 0.5rem;
}

.nav .title{
    margin-left: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    align-items: center;
}

.nav .title .name{
    font-weight: 400;
    text-align: center;
}

.nav .title .info{
    font-weight: 400;
    font-size: 8px;
}

.nav .right{
    margin-right: 1rem;
}

.nav .right img{
    width: 30px;
}

.nav img{
    width: 5rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

section h2{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    padding: 1rem;
}

section p{
    font-family: 'poppins';
}

section a{
    text-decoration: none;
}

/* hero */

section .hero{
    color: white;
    width: 100%;
    margin-top: 3rem;
    min-height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-position: center bottom;
    padding: 1rem;
    z-index: 10;
    /* backdrop-filter: blur(2px); */
}

#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
    object-fit: cover;
}

section .hero .herotitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .hero .herotitle h1{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--light-gold);
    line-height: 1;
}

section .hero .herotitle h3{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    background: var(--glow-gold);
    color: black;
    padding: 0.2rem 0.5rem;
}

section .hero .brief{
    margin-top: 2rem;
    max-width: 40rem;
    font-size: 0.9rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.04rem;
    
}

/* service & plus */

.services{
    width: 100%;
    padding-bottom: 2rem;
    background: url("/img/topography.svg");
    border-top: solid 5px var(--grey-black);
    background-color: #fff;
    z-index: 20;
}

.services .text{
    display: flex;
    width: 100%;
    justify-content: center;   
    margin-top: 2rem;
}


.services .text h3{
    padding: 0.3rem;
    background: var(--glow-gold);
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    
}

.services .info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services .info .card{
    width: 24rem;
    height: 35rem;
    margin-top: 2rem;
    background-color: bisque;
    border: solid 5px var(--black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services .info .card .desc{
    padding: 1rem;
}

.services .info .card .desc h4{
    font-family: 'Lora', serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--light-gold);
    margin-bottom: 1rem;
    font-weight: 300;
}

.services .info .card .desc p{
    color: #fff;
    font-size: 12px;
    line-height: 2;
    word-spacing: 0.04rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.services .info .card .desc a{
    color: black;
    padding: 0.3rem;
    background: #fff;
    transition: 150ms ease-in;
    text-transform: uppercase;
    font-family: 'poppins', Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}

.services .info .card .desc a:hover{
    background: var(--gold);
    cursor: pointer;
}

.services .event{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(59,59,59,0.7120098039215687) 62%, rgba(0,0,0,0.8604691876750701) 100%), url("/img/event4.jpg");
    background-size: cover;
    background-position: center;
}

.services .wed{
    background-image:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(59,59,59,0.7120098039215687) 62%, rgba(0,0,0,0.8604691876750701) 100%), url("/img/wed2.jpg");
    background-size: cover;
}

.services .tv{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(59,59,59,0.7120098039215687) 62%, rgba(0,0,0,0.8604691876750701) 100%), url("/img/tv3.jpg");
    background-size: cover;
}

/* plus */

.plus{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background: var(--grey-black);
    height: auto;
    z-index: 30;
    border-block: solid 5px var(--light-gold);
}

.plus .text{
    display: flex;
    align-self: center;   
    position: absolute;
    margin-top: -15px;
}

.plus .text h3{
    padding: 0.3rem;
    background-color: var(--gold);
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.plus .info{
    display: flex;
    justify-content: space-evenly;
}

.plus .info .card{
    width: 10rem;
    height: 7rem;
    margin-block: 2rem;
    color: var(--light-gold);
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus .info .card img{
    width: 5rem;
}

.plus .info .card p{
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 1rem;
}
/* about */

.about{
    width: 100%;
    display: flex;
    padding-block: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 10px;
    background: url('/img/topography.svg');
}

.about .left{
    width: 31rem;
    margin-bottom: 1rem;
}

.about .left .img{
    background-image: url("/img/wed7.jpg");
    background-size: cover;
    height: 30rem;
    width: 100%;
    margin-bottom: 1rem;
    /* border: solid 5px var(--black); */
}

.about .left h2{
    width: 20rem;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    font-weight: 600;
    padding: 0;
    font-family:  'Lora', serif;
    font-size: 1.6rem;
    font-style: italic;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
}

.about .left p{
    
    line-height: 2;
    font-family: 'poppins', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0.04rem;
    text-rendering: optimizeLegibility;
}

.about .text{
    background-color: #fff;
    padding: 0.5rem;
    border: solid 3px var(--light-gold);
}


.about .right{
    width: 31rem;
}

.about .right .img{
    background-image: url("/img/hero1.jpg");
    background-size: cover;
    height: 30rem;
    width: 100%;
    margin-top: 1rem;
    /* border: solid 5px var(--black); */
}

.about .right h2{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    font-weight: 600;
    padding: 0;
    font-family:  'Lora', serif;
    font-size: 1.6rem;
    font-style: italic;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
}

.about .right p{
    line-height: 2;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.04rem;
    font-family: 'poppins', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

/* cta */

.cta{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42) ;
    background-image: url("/img/moroccan.svg");
    color: #fff;
    border-block: solid 10px var(--gold)
}

.cta p{
    font-size: 1.5rem;
    max-width: 50rem;
    font: 700;
    font-family: 'Lora', serif;;
    text-align: center;
    text-rendering: optimizeLegibility;
    line-height: 2;
    letter-spacing: 0.03rem;
}

.cta a{
    color: var(--black);
    background-color: var(--light-gold);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'poppins', Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: 200ms ease-in;
}

.cta a:hover{
    background-color: var(--gold);
    cursor: pointer;
}


/* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 4rem;
}

footer .left{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

footer .left .title{
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer .left .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
}

footer .left .info p{
    text-align: center;
}

footer .left .info a{
    color: black;
    margin-top: 0.5rem;
    letter-spacing: 0.04rem;
    text-decoration: none;
}

footer .center{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}


footer .center h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05;
    text-align: center;
    text-transform: uppercase;
}

footer .center h4{
    font-size: 0.7rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: 0.05;
    text-align: center;
    text-transform: uppercase;
}

footer .center img{
    width: 10rem;
}

footer .right{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .right .title{
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer .right a{
    color: black;
}

.king{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'poppins', Helvetica,sans-serif;
    background: var(--grey-black);
    color: var(--gold);
    padding-block: 0.3rem;
}

.king span{
    font-family: 'Lora', serif;
}

.king div a{
    color: var(--gold);
    text-decoration: none;
}

/* responsive */
@media only screen and (max-width: 600px) {
    #bgvid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    section .hero .herotitle h3{
        font-family: 'poppins', serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        background: var(--glow-gold);
        color: black;
        padding: 0.2rem 0.5rem;

    }
    

    .plus .info .card img{
        width: 2rem;
    }
    .plus .info .card{
        margin-block: 1rem;
    }
    .plus .info .card p{
        font-size: 0.9rem;
        font-weight: 400;
        padding-top: 0.5rem;
    }

}