:root {
    --gold: #E6A90B;
    --light-gold: #ffd700;
    --grey-black: linear-gradient(320deg, rgb(38, 38, 38) 0%, rgb(73, 73, 73) 40%, rgb(10, 10, 10) 100%);
    --black:  rgba(33, 33, 33, 0.741);
    --white: #ffffff;
    --glow-gold: linear-gradient(175deg, rgba(230,169,11,1) 0%, rgba(255,215,0,1) 50%, rgba(230,169,11,1) 100%);
    --font-lora: 'Lora', serif;
    --font-poppins: 'poppins', sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes slideup {
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes lineright {
    0% {
        text-under: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

.current{
    text-decoration: underline #ffd700;
    text-underline-offset: 10px;
}

/* nav */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 60;
    background-color: rgba(26, 26, 26, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: slideup 0.5s ease-out 0s 1;
}

/* Add an active class to highlight the current page */
.nav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav .icon {
    display: none;
  }

.show{
    display: none;
}

.nav a{
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.nav .left{
    display: flex;
    align-items: center;
    margin-block: 0.5rem;
}

.nav .title{
    margin-left: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    align-items: center;
}

.nav .title .name{
    font-weight: 400;
    text-align: center;
}

.nav .title .info{
    font-weight: 400;
    font-size: 8px;
}

.nav .center ul{
    display: flex;
    list-style-type: none;
}

.nav .center a{
    margin-inline: 0.5rem;
}

.nav .center a:hover{
    color: #ffffff;
}

.nav .right{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav .right a{
    margin-left: 0.5rem;
}

.nav .right .nav-cta{
    background-color: #E6A90B;
    padding: 0.3rem;
    border-radius: 4px;
    color: var(--black);
    text-transform: capitalize;
    font-family: 'poppins', sans-serif;
    letter-spacing: 2;
    font-weight: 400;
    font-size: 14px;
    transition: 500ms ease-in-out;
}

.nav .right .nav-cta:hover{
    background-color: #ffd700;
}

.nav .right img{
    width: 30px;
}

.nav img{
    width: 5rem;
}


/* footer */

footer{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
    padding-inline: 4rem;
    background-color: #f5f5f5;
}

footer .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    margin-bottom: 2rem;
}

/* footer .left .title{
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem; */
/* } */

footer .left .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}

footer .left .info a, footer .left .info p{
    font-size: 15px;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-weight: 300;
    word-spacing: 0.1rem;
    text-align: center;
}

footer .center{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}


footer .center h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05;
    text-align: center;
    text-transform: uppercase;
}

footer .center h4{
    font-size: 0.7rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: 0.05;
    text-align: center;
    text-transform: uppercase;
}

footer .center img{
    width: 10rem;
}

footer .right{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

footer .right .title{
    font-family: 'poppins', Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer .right a{
    color: rgb(43, 43, 43);
}

.king{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'poppins', Helvetica,sans-serif;
    background: var(--grey-black);
    color: var(--gold);
    padding-block: 0.3rem;
}

.king span{
    font-family: 'Lora', serif;
}

.king div a{
    color: var(--gold);
    text-decoration: none;
}
/* others */

.error-msg{
    font-family: 'poppins', Helvetica,sans-serif;
    color: rgb(255, 84, 84);
    font-size: 14px;
    margin-bottom: 2rem;
}


.contact-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 7rem;
}

.contact-success img{
    background-color: #222222;
    width: 5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 8px #E6A90B;
    border-radius: 8px;
    border: solid #E6A90B;
}

.contact-success h2{
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 1s ease-in 0s 1;
}

.contact-success p{
    font-family: 'poppins', Helvetica,sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    animation: fadeIn 1s ease-in 0s 1;
}
.contact-success a{
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-align: center;
    animation: fadeIn 1s ease-in 0s 1;
    color: #E6A90B;
    text-transform: lowercase;
    box-shadow: 0 0 8px #E6A90B;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
}
.contact-success a:hover{
    box-shadow: 0 0 12px #E6A90B;
}

.mini-nav{
    margin-top: 2rem;
    color: #E6A90B;
}



/* contact */


.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-head{
    padding-top: 6rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('/img/brief.png');
    background-position: right center;
    width: 100%;
    color: #ffffff;
    align-items: center;
}

.contact .contact-head p{
    margin-bottom: 0.1rem;
    font-size: 15px;
    letter-spacing: 0.04rem;
    font-weight: 300;
    font-family: 'poppins', Helvetica, sans-serif;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in 0s 1;
}


.contact .contact-head h3{
    animation: slidedown 1.5s ease-in 0s 1;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    text-align: center;
}

.contact-intro{
    padding-top: 1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: right center;
    width: 100%;
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 50rem;
    align-items: center;
    animation: fadeIn 1.5s ease-in 0s 1;
}

.contact .contact-intro h3{
    margin-bottom: 0.8rem;
    font-size: 20px;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.contact .contact-intro p{
    margin-bottom: 0.1rem;
    font-size: 15px;
    letter-spacing: 0.04rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'poppins', Helvetica, sans-serif;
    text-align: center;
}



.contact form{ 
    max-width: 50rem;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

form div label{
    font-family: 'poppins', Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 15px;
    letter-spacing: 0.04rem;
    color: #222222;
    width: 100%;
}

form div input, select, textarea{
    font-family: 'poppins', Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 18px;
    width: 100%;
    letter-spacing: 0.04rem;
    border: none;
    padding: 0.3rem;
    border-bottom: 1px solid #0d0d0d;
    outline: none;
    height: 2.5rem  ;
}

.contact textarea{
    font-family: 'poppins', Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 18px;
    width: 100%;
    letter-spacing: 0.04rem;
    border: none;
    padding: 0.3rem;
    border-bottom: 1px solid #0d0d0d;
    outline: none;
    height: 5rem;
    resize: none;
}

.contact form button{
    font-family: 'poppins', Helvetica, sans-serif;
    height: 2.5rem;
    color: var(--light-gold);
    background: #222222;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    width: 5rem;
    margin-top: 1rem;
    transition: 0.5s ease;
}

.contact form button:hover{
    color: var(--black);
    background-color: var(--light-gold);
}


/* services-page */


.services-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background:  linear-gradient(rgba(0, 0, 0, 0.713) 0%, rgba(0, 0, 0, 0.064) 10%,  rgba(0, 0, 0, 0) 100%),  url('/img/servicesbg4.jpg');
    background-size: cover;
    /* background-color: #4b4b4b; */
}

.services-page .card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 15rem;
    background-color: #ededed;
    margin: 1rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 500ms ease-in-out;
}

.services-page .card h2{
    color: #ffffffda;
    font-family: var(--font-lora);
    font-weight: 200;
    text-align: center;
    background-color: #E6A90B;
    padding-inline: 1rem;
}

.services-page .event{
    background:  linear-gradient(rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%) ,url('/img/seervice-card5.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .event:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.10) 100%) ,url('/img/seervice-card5c.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .wed{
    background: linear-gradient(rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%) ,url('/img/seervice-card2.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .wed:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%) ,url('/img/seervice-card2c.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .media{
    background: linear-gradient(rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%) ,url('/img/seervice-card7.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .media:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%) ,url('/img/seervice-card7c.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .cat{
    background: linear-gradient(rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%) ,url('/img/seervice-card6.jpg');
    background-position: right;
    background-size: cover;
}
.services-page .cat:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%) ,url('/img/seervice-card6c.jpg');
    background-position: right;
    background-size: cover;
}

.services-page .card:hover{
    box-shadow: 0 0 17px #373737b2;
}

.video{
    display: none;
}

.enquiry{
    display: none;
}

.event{
    display: block;
}

.cater{
    display: none;
}

/* responsive */
@media only screen and (max-width: 600px) { 
    .contact-head{
        align-items: normal;
    }
    .contact .contact-head h3{
        text-align: left;
    }
    footer{
        font-size: 14px;
        padding: 3rem 1rem 1rem 1rem; 
    } 
    footer .center{
        width: 100%;
    }
    footer .left .info{
       width: 100%;
    }
    footer .left .info a, footer .left .info p{
        font-size: 15px;
        letter-spacing: 0.04rem;
        text-decoration: none;
        font-weight: 300;
        word-spacing: 0.08rem;
    }
  
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav .center ul{display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
.nav.responsive {
    position: relative;
    height: auto;
    position: fixed;
}
.nav.responsive a.icon {
    position: block;
    /* right: 12px;
    top: 35%; */
}

.nav.responsive .center ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    left: 0;
    top: 75px;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.775);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
    padding-top: 0;
    padding-bottom: 1rem;
}

.nav.responsive .center li{
    padding: 0.5rem;
    font-family: var(--font-poppins);
    /* border-bottom: 2px solid #6e6e6e40; */
}

.current{
    text-decoration: none;
    /* text-underline-offset: 10px; */
    border: solid 2px #E6A90B;
    border-radius: 6px;
}
}